Problem 1

In [10]:


a = int(input("enter numb 1"))
b = int(input("enter numb 2"))
c = int(input("enter numb 3"))

# if a>b and a>c:
#     print("max numb is a" , a)
# elif b>a and b>c:
#     print("max numb is b" , b)
# else:
#     print("max numb is c" , c)

max = a
if b > max:
    max = b
if c > max:
    max = c
print(max)

enter numb 1 1
enter numb 2 12
enter numb 3 2

12

problem 2

In [15]:
c = int(input("enter temp"))
f = (c * 1.8) + 32
print(f)

enter temp 1

33.8

problem 3

In [20]:
temp = a
a = 5
b = 6
a = b
b = temp
print(a)
print(b)

6
6

problem 4

In [25]:
c = int(input("enter numb"))
d = int(input("enter numb"))
b = 0
z = b + c + d
print(z)

enter numb 2
enter numb 3

5

In [6]:
numb = int(input("enter numb"))

a = numb % 10
numb = numb // 10
b = numb % 10
numb = numb // 10
c = numb % 10
numb = numb//10
d = numb % 10
res = (a+b+c+d)
print(res)

enter numb 1234

10

In [28]:
print(345%10)

5

In [38]:
print(125%10)

5

Reverse Digits

In [3]:

num=int(input("Enter the number"))
print(str(num)[::-1])

Enter the number 123

321

In [2]:
print(5)

5

even and odd

In [22]:
n = [1,2,3,4]
for i in n:
    if i%2==0:
        print("even",i)
    else:
        print("odd",i)

odd 1
even 2
odd 3
even 4

Leap-year

In [40]:
year = int(input("enter year"))
if (year % 4 == 0 and year % 100 != 0):
    print("leap year")
elif (year % 4 == 0 and year % 100 == 0):
    print("leap year")   
else:
    print("not leap year")

enter year 2023

not leap year

eucliean distance

In [44]:
x1 = float(input("enter x1 od cord x"))
x2 = float(input("enter x2 od cord x2"))

y1 = float(input("enter y1 od cord y"))
y2 = float(input("enter y2 od cord y2"))


res = ((x2-x1)**2 +(y2-y1)**2)**0.5
print(res)

enter x1 od cord x 25
enter x2 od cord x2 30
enter y1 od cord y 34
enter y2 od cord y2 56

22.561028345356956

Triangle

In [48]:
a = int(input("enter numb"))
b = int(input("enter numb"))
c = int(input("enter numb"))

if (a+b+c==180 and a!=0 and b!=0 and c!=0):
    print("triangle")
else:
    print("no triangle")

enter numb 90
enter numb 90
enter numb 0

no triangle

profit loss

In [51]:
cp = float(input("enter cost price"))
sp = float(input("enter sale price"))

if cp > sp:
    amount = cp-sp
    print("loss",amount)
else:
    amount = sp - cp
    print("profit",amount)

enter cost price 25
enter sale price 50

profit 25.0